html
    body
        center
            h1 Welcome to University Course Mgmt. System
        h3 Who are you?
        a(class='button' href='./admin') Admin
        br
        br
        a(class='button' href='./student') Student
        